<!DOCTYPE html>
<html>
<head>
    <title>Predicción de Demanda de Bicicletas en Seúl</title>
    <script>
        function predecirDemanda(event) {
            event.preventDefault();
            const hour = document.getElementById('Hour').value;
            const temperature = document.getElementById('Temperature').value;
            const humidity = document.getElementById('Humidity').value;
            const dew_point_temperature = document.getElementById('DewPointTemperature').value;
            const seasons = document.getElementById('Seasons').value;
            const functioning_day = document.getElementById('FunctioningDay').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `Hour=${hour}&Temperature=${temperature}&Humidity=${humidity}&DewPointTemperature=${dew_point_temperature}&Seasons=${seasons}&FunctioningDay=${functioning_day}`,
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'Demanda de bicicletas alquiladas: ' + data['Rented Bike Count'];
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Predicción de Demanda de Bicicletas en Seúl</h1>
    <form id="formulario" onsubmit="predecirDemanda(event)">
        <label for="Hour">Hora:</label>
        <input type="text" id="Hour" name="Hour"><br><br>
        <label for="Temperature">Temperatura (°C):</label>
        <input type="text" id="Temperature" name="Temperature"><br><br>
        <label for="Humidity">Humedad (%):</label>
        <input type="text" id="Humidity" name="Humidity"><br><br>
        <label for="DewPointTemperature">Temperatura de punto de rocío (°C):</label>
        <input type="text" id="DewPointTemperature" name="DewPointTemperature"><br><br>
        <label for="Seasons">Estaciones:</label>
        <input type="text" id="Seasons" name="Seasons"><br><br>
        <label for="FunctioningDay">Día de funcionamiento:</label>
        <input type="text" id="FunctioningDay" name="FunctioningDay"><br><br>
        <input type="submit" value="Predecir">
    </form>
    <p id="resultado"></p>
</body>
</html>
